@import '../../../styles';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $white;
  color: $green;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgb(50 106 85);
  text-align: center;

}