@import '../../../styles';

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: $green;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  z-index: 10;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(50 106 85);
  background: $white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


  .logo {
    font-size: 1.6rem;
    display: block;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      color: $green;
      text-decoration: none;
    }
    .theme {
      display: flex;
      align-items: center;
      padding: 2px;
      cursor: pointer;
      width: 40px;
      height: 22px;
      background-color: $green;
      border-radius: 20px;
      position: relative;

      .circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        left: 2px;
        transition: left 0.3s;
      }

      &.dark-mode .circle {
        left: 20px;
      }

      .sun,
      .moon {
        position: relative;
        left: 0;
        transition: left 0.3s;
      }
    }
  }

  @media screen and (max-width: 650px) {
    .header{
      .logo {
          display: none;
          border:red 1px solid;
        }
    }
  }
}